.checkstyle

### Eclipse ###
sonar-project.properties

.metadata
bin/
logs/
target/
tmp/
*.tmp
*.bak
*.swp
*~.nib
application-local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath

# sbteclipse plugin
.target


# Code Recommenders
.recommenders/

# JDT-specific (Eclipse Java Development Tools)
.classpath

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache



target/
/bin/
!.mvn/wrapper/maven-wrapper.jar
service.log**
.sonar


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
